*,*::after, *::before{
    background-color:hsl(80, 23%, 97%);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:35px;

}
.Calculator-grid{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 60px);
    gap:20px;
}

.Calculator-grid>button {
  border:1px solid rgb(197, 194, 194);
  outline-width: 1px;
}
.op{
    background-color:rgb(203, 201, 201)
}
.SpanFour{
    background-color: rgb(93, 126, 209);
    grid-row-start: 7;
    grid-row-end: 3;
    grid-column-start:4;
    grid-column-end: 5;
}
.CalOutput{
    border:1px solid rgb(169, 161, 161);
    box
    outline-width: 1px;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: right;
    margin-bottom: auto;
    margin:5px;
}
